body {
	background-color:#3AD0EA;
	}
h1 {
	background-color:#A1D5DD;
	color:#1147A0;
	}
p {
	background-color:#F198F1;
	color:#031EC8;
	font-family:arial; 
	}
li {
	background-color:#F198F1;
	color:#031EC8;
	font-family:arial; 
	}